asgiref==3.11.0
Django==6.0
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
django-csp==3.8
django-ratelimit==4.1.0
drf-spectacular==0.28.0
sqlparse==0.5.4
pytest==8.3.4
pytest-django==4.9.0
pytest-dotenv==0.5.2
